<div class="modal-header">
  <h4 class="modal-title">Login</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    {{errorMessage}}
  </div>
  <form>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" [(ngModel)]="user.username" class="form-control" id="username" name="username" placeholder="Username" />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" [(ngModel)]="user.password" class="form-control" id="password" name="password" placeholder="Password" />
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="login()">Login</button>
</div>