<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggler">
    <a class="navbar-brand" href="#">Angular 4 Image Upload App</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li *ngIf="loggedIn" class="nav-item">
        <a class="nav-link" (click)="upload()">Upload</a>
      </li>
    </ul>
    <form *ngIf="!loggedIn" class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-primary" (click)="login()" type="button">Login</button>
      <button class="btn btn-outline-primary" (click)="register()" type="button">Register</button>
    </form>
    <form *ngIf="loggedIn" class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-primary" (click)="logout()" type="button">Logout</button>
    </form>
  </div>
</nav>

<div class="container" id="main-app-container">
  <div  *ngIf="uploadSuccessAlert" class="alert alert-success" role="alert">
    <strong>Success!</strong> Image(s) succesfully uploaded.
  </div>
  <app-images></app-images>
</div>